<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <welcome-file-list>
    <welcome-file>./WEB-INF/view/index.jsp</welcome-file>
  </welcome-file-list>

  <!-- 上下文监听器 -->
  <listener>
    <listener-class>com.kstarrain.listener.ContextListener</listener-class>
  </listener>


  <!-- quartz可视化界面配置 -->
  <servlet>
    <servlet-name>quartzweb</servlet-name>
    <servlet-class>com.github.quartzweb.http.QuartzWebServlet</servlet-class>
    <!--配置HTML页面地址,不配置默认为/html-->
    <init-param>
      <param-name>resourcePath</param-name>
      <param-value>/html</param-value>
    </init-param>
    <!--用户名密码-->
    <init-param>
      <param-name>quartWebUser</param-name>
      <param-value>admin:admin;username2:password2</param-value>
    </init-param>
  </servlet>
  <!--配置url-->
  <servlet-mapping>
    <servlet-name>quartzweb</servlet-name>
    <url-pattern>/quartzweb/*</url-pattern>
  </servlet-mapping>
</web-app>
        