<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <welcome-file-list>
    <welcome-file>./WEB-INF/view/index.jsp</welcome-file>
  </welcome-file-list>

  <!--全局变量,每个servlet都可以获得-->
  <context-param>
    <description>test全局变量</description>
    <param-name>testContext</param-name>
    <param-value>abcd</param-value>
  </context-param>

  <!--加载顺序：监听器>过滤器>Servlet-->

  <!--session监听器-->
  <!--<listener>-->
    <!--<listener-class>com.kstarrain.listener.SessionListener</listener-class>-->
  <!--</listener>-->

  <!--&lt;!&ndash; 当浏览器关闭时session不会马上销毁  需要在web.xml中设置保存的时间（单位分钟）-->
       <!--设置session的销毁时间 为1分钟 (时间不精确，为大概参考值) &ndash;&gt;-->
  <!--<session-config>-->
    <!--<session-timeout>1</session-timeout>-->
  <!--</session-config>-->


  <!--过滤器 filter-->
  <filter>
    <filter-name>Test01Filter</filter-name>
    <filter-class>com.kstarrain.filter.Test01Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Test01Filter</filter-name>
    <url-pattern>/test01</url-pattern>
  </filter-mapping>


  <!-- servlet -->
  <servlet>
    <servlet-name>Test01Controller</servlet-name>
    <servlet-class>com.kstarrain.controller.Test01Controller</servlet-class>
    <!--当值为0或者大于0时，表示容器在应用启动时就加载这个servlet,
    当是一个负数时或者没有指定时，则指示容器在该servlet被选择时才加载
    正数的值越小，启动该servlet的优先级越高。
    如果我们在web.xml中设置了多个servlet的时候，可以使用load-on-startup来指定servlet的加载顺序，服务器会根据load-on-startup的大小依次对servlet进行初始化。
    不过即使我们将load-on-startup设置重复也不会出现异常，服务器会自己决定初始化顺序。-->
    <!--<load-on-startup>0</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>Test01Controller</servlet-name>
    <url-pattern>/test01</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Test02Controller</servlet-name>
    <servlet-class>com.kstarrain.controller.Test02Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test02Controller</servlet-name>
    <url-pattern>/test02</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CookieController</servlet-name>
    <servlet-class>com.kstarrain.controller.CookieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieController</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Session01Controller</servlet-name>
    <servlet-class>com.kstarrain.controller.Session01Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session01Controller</servlet-name>
    <url-pattern>/session01</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Session02Controller</servlet-name>
    <servlet-class>com.kstarrain.controller.Session02Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session02Controller</servlet-name>
    <url-pattern>/session02</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ServletConfigController</servlet-name>
    <servlet-class>com.kstarrain.controller.ServletConfigController</servlet-class>
    <init-param>
      <param-name>ServletConfigParamName</param-name>
      <param-value>ServletConfigParamValue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigController</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HttpClientController</servlet-name>
    <servlet-class>com.kstarrain.controller.HttpClientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpClientController</servlet-name>
    <url-pattern>/httpclient</url-pattern>
  </servlet-mapping>

</web-app>
